In [1]:
import pandas as pd

C:\Users\aspera\Anaconda3\lib\site-packages\pandas\compat\_optional.py:138: UserWarning: Pandas requires version '2.7.0' or newer of 'numexpr' (version '2.6.9' currently installed).
  warnings.warn(msg, UserWarning)

In [2]:
import data_logging
import file_read

In [3]:
a=file_read.fileread("carbon_nanotubes.csv")

In [4]:
b=data_logging.App_Logger()

In [5]:
a.csv_reader()

,Chiral indice n,Chiral indice m,Initial atomic coordinate u,Initial atomic coordinate v,Initial atomic coordinate w,Calculated atomic coordinates u',Calculated atomic coordinates v',Calculated atomic coordinates w'
0,2,1,"0,679005","0,701318","0,017033","0,721039","0,730232","0,017014"
1,2,1,"0,717298","0,642129","0,231319","0,738414","0,65675","0,232369"
2,2,1,"0,489336","0,303751","0,088462","0,477676","0,263221","0,088712"
3,2,1,"0,413957","0,632996","0,040843","0,408823","0,657897","0,039796"
4,2,1,"0,334292","0,543401","0,15989","0,303349","0,558807","0,157373"
...,...,...,...,...,...,...,...,...
10716,12,6,"0,834201","0,399891","0,89127","0,841858","0,405882","0,891356"
10717,12,6,"0,698374","0,24471","0,962699","0,706555","0,248416","0,962833"
10718,12,6,"0,923823","0,568913","0,819842","0,929403","0,576284","0,819879"
10719,12,6,"0,934978","0,602319","0,938889","0,941844","0,610608","0,938755"
10720,12,6,"0,953664","0,698374","0,962699","0,961243","0,707812","0,962605"

# DB Operations

In [6]:
# %%writefile DBtasks.py
import pymongo
import data_logging

class DB_Operations:
    def __init__(self):
        self.logger_object=data_logging.App_Logger()
        self.file_object=open("DB_Operations_log.txt",'a+')
    def DB_Connection(self,path):
        self.logger_object.log(self.file_object,"About to start Mongo DB connection")
        self.path=path
        try:
            Client=pymongo.MongoClient(self.path,tls=True,tlsAllowInvalidCertificates=True)
            self.logger_object.log(self.file_object,"Connection established of Python IDE with MongoDB")
            return Client
        except Exception as e:
            self.logger_object.log("Error while connecting to database")
            return e
    def DB_createdatabase(self,Databasename):
        self.logger_object.log(self.file_object,"About to create database inside MongoDB")
        self.Databasename=Databasename
        try:
            db=self.DB_Connection[self.Databasename]
            self.logger_object.log(self.file_object,"Connection established with database")
            return db
        except Exception as e:
            self.logger_object.log("Error while connecting to database")
            return e
    def DB_createcollection(self,collectionname):
        self.Collectionname=Collectionname
        self.logger_object.log(self.file_object,"About to create collection inside database")
        try:
            coll=self.DB_createdatabase[self.Collectionname]
            self.logger_object.log(self.file_object,"Connection established with database")
            return coll
        except Exception as e:
            self.logger_object.log("Error while connecting to database")
            return e
    def DB_insertion_one(self,doc):
        self.doc=doc
        self.logger_object.log(self.file_object,"About to start Mongo DB connection")
        try:
            self.DB_createcollection.insert_one(self.doc)
            self.logger_object.log(self.file_object,"Inserted one record into database")
        except Exception as e:
            self.logger_object.log("Error while connecting to database")
            return e
    def DB_insertion_many(self,doc1):
        self.doc1=doc1
        self.logger_object.log(self.file_object,"About to start Mongo DB connection")
        try:
            self.DB_createcollection.insert_many(self.doc1)
            self.logger_object.log(self.file_object,"Inserted All records into database")
        except Exception as e:
            self.logger_object.log("Error while connecting to database")
            return e

In [7]:
c=DB_Operations()

In [8]:
d=c.DB_Connection("mongodb+srv://test:test@cluster0.r5mqm.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")

In [9]:
d.test

Database(MongoClient(host=['cluster0-shard-00-00.r5mqm.mongodb.net:27017', 'cluster0-shard-00-02.r5mqm.mongodb.net:27017', 'cluster0-shard-00-01.r5mqm.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-6n0uib-shard-0', tls=True, tlsallowinvalidcertificates=True, tlsdisableocspendpointcheck=True), 'test')

In [10]:
d.DB_createdatabase('Ineuron_Tasks')

TypeError: 'Database' object is not callable